body{
    font-family:'Kantumruy Pro',sans-serif;
}
margin:0;
font-family:Arial,sans-serif;
}

.navbar{
background:#2d3748;
color:white;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-text{
    display:flex;
    flex-direction:column;
}

.kh-title{
    color:#F4B400;
    font-size:28px;
    font-weight:700;
    line-height:1.2;
}

.en-title{
    color:white;
    font-size:25px;
    font-weight:600;
    line-height:1.2;
}

.logo span{
    color:white;
    font-size:28px;
    font-weight:bold;
}

.menu{
display:flex;
list-style:none;
gap:20px;
}

.menu a{
color:white;
text-decoration:none;
font-weight:bold;
}

.menu a:hover{
color:#f6ad55;
}

.login-btn{
background:#3182ce;
padding:10px 20px;
border-radius:6px;
}

.hero{
text-align:center;
padding:120px 20px;
background:#f7fafc;
}

.hero h1{
font-size:48px;
}

.hero p{
font-size:20px;
margin:20px 0;
}

.btn{
background:#3182ce;
color:white;
padding:15px 30px;
text-decoration:none;
border-radius:8px;
}

footer{
background:#2d3748;
color:white;
text-align:center;
padding:20px;
}
.logo img{
    height:60px;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#2E3B55;
}

.menu{
    display:flex;
    list-style:none;
    gap:25px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.login-btn{
    background:#F4B400;
    color:black !important;
    padding:10px 20px;
    border-radius:6px;
}
.logo img{
    height:140px;
    width:auto;
}

.hero h1{
    font-size:56px;
    color:#2E3B55;
}

.hero p{
    font-size:22px;
    margin-top:20px;
}

.btn{
    display:inline-block;
    background:#6A1B9A;
    color:white;
    padding:15px 30px;
    border-radius:8px;
    text-decoration:none;
    margin-top:20px;
}
