/*====================================
BEE Management System
Main Style
=====================================*/

:root{

    --primary:#5E17EB;
    --secondary:#FFC107;

    --dark:#1E293B;

    --gray:#64748B;

    --light:#F8FAFC;

    --white:#FFFFFF;

    --shadow:

        0 10px 30px rgba(0,0,0,.08);

    --radius:16px;

}

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Kantumruy Pro',sans-serif;

    background:var(--light);

    color:var(--dark);

    overflow-x:hidden;

}

a{

    text-decoration:none;

}

img{

    max-width:100%;

    display:block;

}

section{

    padding:90px 0;

}

.container{

    max-width:1320px;

}
